
@model MVCOemahJowo.Models.mt_prod_cat
@{
    Layout = null;
}
@using (Html.BeginForm("Insert", "ProdCat", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    <div class="form-group">
        @Html.Label("ID#")
        @Html.Editor("catid", new { htmlAttributes = new { @class = "form-control", @readonly = true } })
    </div>
    <div class="form-group">
        @Html.Label("Category name: ")
        @Html.EditorFor(model => model.category_name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.category_name)
    </div>
    <div class="form-group">
        @Html.Label("Amount: ")
        @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
        @Html.ValidationMessageFor(model => model.amount)
    </div>
   
    @*<div class="form-group">
            @Html.Label("Parent Action List")
            <br />
            @Html.DropDownListFor(model => model.PARENT_NUMBER, new SelectList(Model.ParentActionList, "LSR_NUMBER", "ACTIONLIST_DESC"), "Select", new { htmlAttributes = new { @class = "form-control" } })
        </div>*@
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn btn-warning" />
    </div>
}
<script>
    $(document).ready(function () {
        //$('#PHONE').mask('0000-0000000000');
        //$('#PHONE').mask('(9999)-9999999999', { autoclear: false });
    });
</script>